$dk-shade-100: rgba(31, 32, 65, 1);
$dk-shade-75: rgba(31, 32, 65, 0.75);
$dk-shade-50: rgba(31, 32, 65, 0.5);
$dk-shade-25: rgba(31, 32, 65, 0.25);
$dk-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$btn-text: rgba(255, 255, 255, 1);
