.text-field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 320px;
  height: 67px;

  &__label {
    width: 72px;
    height: 15px;
    margin-top: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
  }

  &__input {
    padding-left: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 320px;
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    position: relative;

    &::placeholder {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.25);
    }

    &:focus {
      outline: none;
      border: 1px solid rgba(31, 32, 65, 0.5);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
  }
}

.text-field.ui {
  position: absolute;
  width: 320px;
  height: 67px;
  left: 141px;
  top: 140px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  @include button-text;
  &_shallow {
    position: relative;
    width: 5rem;
    height: 2rem;
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    background-clip: padding-box;
    color: $purple;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 1),
        rgba(139, 164, 249, 1)
      );
      z-index: -1;
      border-radius: 22px;
      margin: -2px;
    }
  }
  &_filled {
    color: rgb(255, 255, 255);
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
}
