.header
    .container.header__container
        .header__logo
            img.header__logo-img(src='./images/Logo.svg')
        nav.nav.header__nav
            ul.nav__menu
                li.nav__item
                    a.nav__link(href="#") О нас
                li.nav__item
                    a.nav__link(href="#") Услуги
                li.nav__item
                    a.nav__link(href="#") Вакансии
                li.nav__item
                    a.nav__link(href="#") Новости
                li.nav__item
                    a.nav__link(href="#") Соглашения
        .header__buttons
            a.btn.btn_shallow.header__btn Войти
            a.btn.btn_filled.header__btn Зарегистрироваться